<style>
#home-c {
    margin-top : 25px;
}

#footer{
    color : grey
}

.jumbotron{
    text-align : center
}

#page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
}

</style>

<div id="page-content">
    <div class = "container mt-3">
        <div class="jumbotron">
        <h1 class="display-4">About</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <%= link_to 'Article listing', articles_path %> |
        <%= link_to 'Home page', root_path %>
        </div>
    </div>


</div>